#padre {
  background-color: tomato;
  display: grid;
  grid-template-areas: "uno dos tres"
    "uno cuatro cinco"
    "uno cuatro seis"
  ;

}

#padre * {
  background-color: bisque;
  border: 1px solid;
}

#hijo-1 {
  grid-area: uno;
}

#hijo-2 {
  grid-area: dos;
}

#sub-container-1 {
  grid-area: "container-uno";
}

#hijo-3 {
  grid-area: tres;
}

#hijo-4 {
  grid-area: cuatro;
}

#hijo-5 {
  grid-area: cinco;
}

#hijo-6 {
  grid-area: seis;
}

#sub-container-2 {
  grid-area: "container-dos";
}

#hijo-7 {
  grid-area: siete;
}

#hijo-8 {
  grid-area: ocho;
}