h1 {
    position: relative;
    left: 100px;
}

h2 {
    position: relative;
    left: 150px;
}

img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
    left: 250px;
}
