* {
  box-sizing: border-box;
}

/* body {
  display: grid;
  justify-items: end
} */

#padre {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 1em;
  /* justify-items: stretch; */
  /* align-items: center; */
  /* column-gap: 1em; */
  /* row-gap: 1em; */
}

#e1 {
  /* align-self: start; */
  grid-column: 1/4;
}

#e2 {
  /* align-self: center; */
  grid-column: 1/4;


}

#e3 {
  /* align-self: end; */
  grid-column: 3/4;

}

/*



#e4 {
  justify-self: start;
}

#e5 {
  justify-self: center
}

#e6 {
  justify-self: end;
} */

#padre div {
  background-color: bisque;
}

#padre div:hover {
  background-color: bisque;
  outline: 2px solid rgb(228, 1, 39);
  z-index: 1;
}