* {
  margin: 0;
  padding: 0;
  border: 3px solid black;
}

html {
  border: 0px;
}

body {
  border-color: blueviolet;

}

h1 {
  position: sticky;
  background-color: pink;
  top: 0;
  z-index: 15;
}

#container {
  background-color: cadetblue;
  margin-top: 5%;
  position: relative;
  height: 500px;
  /* overflow: scroll; */

}

/* #red {
  height: 100px;
  width: 200px;
  background-color: brown;
  position: absolute;
  top: 50px;
  left: 50px;
  display: none;
} */


#blue {
  border: 0;
  width: 100px;
  height: 100px;
  background-color: #232bca;
  position: sticky;
  top: 10px;
  z-index: 14;
}